{% extends 'base.html.twig' %}

{% block title %}Bonjour{% endblock %}

{% block body %}
<div class="row">
    <div class="col-1">
    <p style="margin: 14px 0px; text-align: center">
        <span style="color: #999999"><i class="fas fa-info-circle fa-3x"></i></span>
    </p>
    </div>
    <div class="col-11">
    <h1>Bonjour {{ aQui }} ! Nous sommes le {{ laDate | format_datetime(pattern="EEEE d MMMM") }}.</h1>
    </div>
    <div class="col-12">
    <h2>Vous pouvez :</h2>
        <ul>
            <li><a href="{{ path('bonjour') }}">Saluer le contribuable</a></li>
            <li><a href="{{ path('bonjour', { 'aQui': "Albert" }) }}">Saluer Albert</a></li>
            <li><a href="{{ path('icones') }}">Voir une démo de quelques icônes Bootstrap</a></li>
            <li><a href="{{ path('message', { 'aQui': "Albert" }) }}">Voir la démo d'un message d'information</a></li>
            <li><a href="{{ path('message') }}">Voir la démo de plusieurs messages</a></li>
        </ul>
    </div>
</div>
{% endblock %}
